@font-face {
    font-family: 'Anton';
    src: url('Anton-Regular.woff2') format('woff2'),
        url('Anton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

